altgraph==0.16.1
astroid==2.2.5
auto-py-to-exe==2.6.3
autopep8==1.4.4
bcrypt==3.1.7
blinker==1.4
bottle==0.12.16
bottle-websocket==0.2.9
cffi==1.12.3
Click==7.0
colorama==0.4.1
Eel==0.10.4
Flask==1.0.3
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
freegames==2.3.1
future==0.17.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
isort==4.3.20
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.4.1
macholib==1.11
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.16.4
pefile==2019.4.18
Pillow==8.3.2
PyAutoGUI==0.9.44
pycodestyle==2.5.0
pycparser==2.19
pygame==1.9.6
PyGetWindow==0.0.6
PyInstaller==3.4
pylint==2.3.1
PyMsgBox==1.0.7
PyRect==0.1.4
PyScreeze==0.1.21
PyTweening==1.0.3
pywin32-ctypes==0.2.0
six==1.12.0
SQLAlchemy==1.3.5
typed-ast==1.4.0
virtualenv==16.6.1
Werkzeug==0.15.4
whichcraft==0.5.2
wrapt==1.11.1
WTForms==2.2.1
